body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    margin: 0;
    color: #fff;
    font-family: Arial, sans-serif;
}

canvas {
    background-color: #000;
    border: 2px solid #fff;
}